.notMe{
  position: relative;
  max-width: 300px;
  float: left;
  clear: both;
}

.Me{
  float: right;
  max-width: 300px;
  position: relative;
  clear: both;
}

#name{
  position: absolute;
  top: -20px;
  font-size: 12px;
  min-width: 300px;

}

#message-notme{
  display: inline-block;
  border: 15px;
  background-color: grey;
  border-radius: 3px;
  padding: 20px;
}

#message-me{
  display: inline-block;
  border: 15px;
  background-color: lightblue;
  border-radius: 3px;
  padding: 20px;
}
